# -----------------------------
# Network
# -----------------------------
GCS_IP=192.168.53.5
MINI_PC_IP=192.168.53.4
UAV_EDGE_IP=192.168.53.2

# -----------------------------
# PostgreSQL
# -----------------------------
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# -----------------------------
# ROS2
# -----------------------------
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
CYCLONEDDS_URI=file:///cyclonedds.xml
ROS_DOMAIN_ID=53

# Optional: host path mounted to /px4_msgs_install in co_paint. docker-compose.yml 참고
# PX4_MSGS_INSTALL=/home/samuel/px4_msgs_ws/install

# -----------------------------
# rosbridge
# -----------------------------
ROSBRIDGE_PORT=9090
TOPIC_TEST_TOPIC=/copaint/net_test
TOPIC_TEST_MESSAGE_TYPE=std_msgs/msg/String
TOPIC_TEST_SOURCE_NAME=uav-edge

# -----------------------------
# web_ui
# -----------------------------
WEB_UI_PORT=80
