# -----------------------------
# Network
# -----------------------------
GCS_IP=192.168.0.1
MINI_PC_IP=192.168.0.1
UAV_EDGE_IP=192.168.0.1

# -----------------------------
# PostgreSQL
# -----------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# -----------------------------
# ROS2
# -----------------------------
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
CYCLONEDDS_URI=file:///cyclonedds.xml
ROS_DOMAIN_ID=0

# -----------------------------
# rosbridge
# -----------------------------
ROSBRIDGE_PORT=9090
TOPIC_TEST_TOPIC=/copaint/net_test
TOPIC_TEST_MESSAGE_TYPE=std_msgs/msg/String
TOPIC_TEST_SOURCE_NAME=uav-edge
PX4_TOPIC_TEST_TOPIC=/copaint/px4_net_test
PX4_TOPIC_TEST_MESSAGE_TYPE=px4_msgs/msg/VehicleStatus
PX4_TOPIC_TEST_SOURCE_NAME=uav-edge
PX4_VEHICLE_STATUS_TOPIC=/fmu/out/vehicle_status

# -----------------------------
# web_ui
# -----------------------------
WEB_UI_PORT=80
