# ROS2 빌드 결과물
build/
install/
log/

# UGV control_code ROS2 빌드 결과물
control_code/build/
control_code/install/
control_code/log/

# DB 데이터
docker/postgres/data/

# 환경변수
.env

# 기타
__pycache__/
*.py[cod]
.DS_Store
